{% extends 'password_manager/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'password_manager/login.css' %}">
{% endblock css %}


{% block content %}

<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}

  <div>
    <label for="username">ユーザー名</label>
    <input type="text" id="username" name="username">
  </div>

  <div>
    <label for="password">パスワード</label>
    <input type="text" id="password" name="password">
  </div>

  <button>送信</button>

</form>

{% endblock content %}